* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  background-color: aliceblue;
  text-align: right;
}

header ul {
  list-style: none;
}

header ul li {
  padding: 5px 30px 5px 5px;

}

header ul li span {
  padding: 5px;
}

header ul li span:hover{
  background-color: rgba(0, 255, 255, 0.418);
  transition: ease 0.3s;
}

.title {
  padding: 10px;
  font-size: 50px;
  text-decoration: underline;
}

.to-do-list > * {
  margin: 10px;
}

.to-do-list {
  font-size: 20px;
  border: black solid 2px;
  margin: 20px;
  padding: 20px;
  border-radius: 30px;
}

.to-do-list ul {
  list-style: square;
  padding-left: 50px;
}

.to-do-list ul li:hover {
  text-decoration: underline;
}

input {
  font-size: 20px;
  padding: 5px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  border: black solid 1px;
  text-align: right;
}

address {
  float: left;
  margin: 20px 5px 5px 15px;
}

img {
  height: 50px;
  margin: 5px 20px 5px 5px;
}